@charset "UTF-8";

/* Fonts
----------------------------------------------- */
@import url(font.css);
@import url(libs/fontawesome-free-5.15.4-all.css);


/* Reset
----------------------------------------------- */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, input, textarea, button, article, aside, canvas, details, embed, figure, figcaption, footer, header, menu, nav, output, ruby, section, summary, time, mark, audio, video {margin:0;padding:0;border:0;box-sizing:border-box;}
article, aside, details, figcaption, figure, footer, header, menu, nav, section {display:block;}
body {font-family:"Noto Sans KR", "맑은 고딕", "Malgun Gothic", Dotum, Gulim, "Sans-serif";width:100%;height:100%;line-height:1.25;color:#000;font-weight:400;}
html {height:auto;-webkit-text-size-adjust:none;-moz-text-size-adjust:none;-ms-text-size-adjust:none;}
ol, ul {list-style:none;}
table {border-collapse:collapse;border-spacing:0;table-layout:fixed;}
a {text-decoration:none;color:inherit;box-sizing:border-box;}
a:hover {text-decoration:none;}
legend, caption {position:absolute;top:auto;left:auto;overflow:hidden;width:1px;height:1px;margin:-1px;border:0;clip:rect(1px,1px,1px,1px);clip-path:inset(50%);}
th {font-weight:inherit}
em, address, i {font-style:normal;}
img, fieldset, button {border:none;}
input {border-radius:0;border:none;vertical-align:middle;}
input, textarea, button, select {font-family:"Noto Sans KR", "맑은 고딕", "Malgun Got{hic", Dotum, Gulim, "Sans-serif";color:#000;border-radius:0;box-sizing:border-box;}
button, select, label {cursor:pointer;}
button {background-color:transparent;}
section {width:100%;text-align:center;}
blockquote, q {quotes:none;}
blockquote:before, blockquote:after, q:before, q:after {content:'';content:none;}
video {object-fit:fill;}
.hide {position:absolute;top:auto;left:auto;overflow:hidden;width:1px;height:1px;margin:-1px;border:0;clip:rect(1px,1px,1px,1px);clip-path:inset(50%);}
.left {text-align:left !important;}
.right {text-align:right !important;}


/* Common
----------------------------------------------- */
body {min-width:1280px;margin:0 auto;color:#000;}
.inner {position:relative;max-width:1280px;margin:0 auto;}
@media (max-width:1280px) {
  .inner {margin:0 15px;}
}

/* Header */
.header {position:relative;height:78px;background-color:#354f69;}
.header .inner {max-width:none;margin:0 20px;}
.header .logo {position:absolute;top:8px;left:0;height:60px;padding-left:158px;background:url(../img/logo.png) no-repeat left top / 158px auto;}
.header .logo em {display:block;line-height:1.214;margin:7px 0 0 10px;letter-spacing:-0.5px;font-size:14px;font-weight:500;color:#b8b8b8;}
.header .gnb {position:absolute;top:0;right:0;letter-spacing:-0.5px;}
.header .gnb ul.depth1 {display:inline-block;vertical-align:top;}
.header .gnb ul.depth1 > li {display:inline-block;position:relative;margin:0 18px;vertical-align:top;}
.header .gnb ul.depth1 > li > a {display:block;line-height:1.25;padding:22px 0 26px;font-size:24px;font-weight:500;color:#fff;transition-duration:.3s;}
.header .gnb ul.depth1 > li > a:focus,
.header .gnb ul.depth1 > li > a:hover {color:#ffbb19;}
.header .gnb ul.depth1 > li ul.depth2 {overflow:hidden;position:absolute;top:69px;left:50%;width:180px;height:0;border-radius:10px;background-color:#ffbb19;box-shadow:0 3px 10px rgba(0,0,0,0.3);transform:translateX(-50%);z-index:1;}
.header .gnb ul.depth1 > li ul.depth2 > li > a {display:block;height:44px;line-height:44px;text-align:center;font-weight:500;color:#454545;transition-duration:.3s;}
.header .gnb ul.depth1 > li ul.depth2 > li > a:focus,
.header .gnb ul.depth1 > li ul.depth2 > li > a:hover {color:#010101;background-color:#f5d381;}
.header .gnb ul.depth1 > li.on > a + .depth2 {height:auto;}
.header .gnb .user {display:inline-block;margin-top:18px;margin-left:18px;vertical-align:top;}
.header .gnb .user [class*="btn"] {display:inline-block;height:39px;line-height:2.188;margin-left:1px;padding:0 10px;font-size:16px;font-weight:500;color:#fff;border:2px solid #fff;border-radius:9px;transition-duration:.3s;}
.header .gnb .user [class*="btn"] i {display:inline-block;margin-right:4px;}
.header .gnb .user [class*="btn"]:focus,
.header .gnb .user [class*="btn"]:hover {color:#354f69;background-color:#fff;}

/* Container */
.container {position:relative;background-color:#fff;}

/* Footer */
.footer {padding:37px 0 50px;background-color:#f5f5f5;}
.footer address {margin-bottom:20px;}
.footer address span {display:block;line-height:1.615;font-size:13px;font-weight:300;color:#646464;}
.footer .logo {position:absolute;top:8px;right:0;width:px;height:93px;line-height:1.35;background:url(../img/logo-footer.png) no-repeat right bottom / auto auto;}
.footer .logo em {display:block;text-align:right;letter-spacing:-0.6px;font-size:16px;color:#575656;}

/* Button */
.btn-square-small {min-width:40px;height:27px;line-height:25px;padding:0 7px;font-size:12px;border-radius:4px;}
.btn-square-medium {min-width:50px;height:34px;line-height:32px;padding:0 12px;font-size:14px;border-radius:5px;}
.btn-square-large {min-width:50px;height:50px;line-height:48px;padding:0 15px;font-size:16px;font-weight:500;border-radius:6px;}

[class*="btn-square"] {display:inline-block;letter-spacing:-0.5px;opacity:1;transition-duration:.3s;}
[class*="btn-square"].full {width:100%;}
[class*="btn-square"].gray {color:#fff;border:1px solid #b1b1b1;background-color:#b1b1b1;}
[class*="btn-square"].gray-re {color:#646464;border:1px solid #646464;background-color:transparent;}
[class*="btn-square"].gray-re:focus,
[class*="btn-square"].gray-re:hover {color:#fff;background-color:#646464;}
[class*="btn-square"].pink {color:#fff;border:1px solid #ee7670;background-color:#ee7670;}
[class*="btn-square"].blue {color:#fff;border:1px solid #3380cd;background-color:#3380cd;}
[class*="btn-square"].skyblue {color:#fff;border:1px solid #aac7e4;background-color:#aac7e4;}
[class*="btn-square"]:focus,
[class*="btn-square"]:hover {opacity:0.8;}

/* Checkbox & Radio button */
.chckbox,
.radiobtn {position:relative;display:inline-block;}
div.chckbox,
div.radiobtn {display:block;}
.chckbox {padding-left:25px;}
.radiobtn {padding-left:22px;}
.chckbox > *,
.radiobtn > * {vertical-align:middle;}
.chckbox label,
.radiobtn label {display:inline-block;font-size:16px;font-weight:300;color:#000001;}
.chckbox label::before,
.radiobtn label::before {display:flex;align-items:center;position:absolute;top:3px;left:0;line-height:1;font-family:"Font Awesome 5 Free";color:#c6c6c6;border-left:none;background-color:#fff;z-index:3;}
.chckbox label::before {content:"\f14a";width:24px;height:24px;font-size:20px;font-weight:900;}
.radiobtn label::before {content:"\f192";width:20px;height:20px;font-size:16px;font-weight:500;}
input[type="checkbox"],
input[type="radio"] {display:inline-block;position:absolute;-webkit-appearance:none;-moz-appearance:none;appearance:none;border:none;border-radius:0px;z-index:2;transition-duration:.3s;}
input[type="checkbox"]:checked + label::before,
input[type="radio"]:checked + label::before {color:#3380cd;}
input[type="checkbox"] {top:5px;left:0;width:20px;height:20px;margin-right:8px;}
input[type="radio"] {top:5px;left:0;width:16px;height:16px;margin-right:2px;}

/* Loading */
.loading-animation {position:absolute;top:50%;left:50%;width:60px;height:60px;transform:translate3d(-50%, -50%, 0) scale(0.6);backface-visibility:hidden;transform-origin:0 0;z-index:2;}
.loading-animation div {left:45px;top:4.5px;position:absolute;animation:loading linear 1.1764705882352942s infinite;background-color:#000;width:10px;height:23px;border-radius:5px / 5.5200000000000005px;transform-origin:5px 45.5px;}
.loading-animation div:nth-child(1) {transform:rotate(0deg);animation-delay:-1.0784313725490198s;background-color:#000;}
.loading-animation div:nth-child(2) {transform:rotate(30deg);animation-delay:-0.9803921568627452s;background-color:#f4f4f4;}
.loading-animation div:nth-child(3) {transform:rotate(60deg);animation-delay:-0.8823529411764707s;background-color:#f0f0f0;}
.loading-animation div:nth-child(4) {transform:rotate(90deg);animation-delay:-0.7843137254901962s;background-color:#dddddd;}
.loading-animation div:nth-child(5) {transform:rotate(120deg);animation-delay:-0.6862745098039216s;background-color:#cacaca;}
.loading-animation div:nth-child(6) {transform:rotate(150deg);animation-delay:-0.5882352941176471s;background-color:#b6b6b6;}
.loading-animation div:nth-child(7) {transform:rotate(180deg);animation-delay:-0.4901960784313726s;background-color:#a1a1a1;}
.loading-animation div:nth-child(8) {transform:rotate(210deg);animation-delay:-0.3921568627450981s;background-color:#8b8b8b;}
.loading-animation div:nth-child(9) {transform:rotate(240deg);animation-delay:-0.29411764705882354s;background-color:#757575;}
.loading-animation div:nth-child(10) {transform:rotate(270deg);animation-delay:-0.19607843137254904s;background-color:#5c5c5c;}
.loading-animation div:nth-child(11) {transform:rotate(300deg);animation-delay:-0.09803921568627452s;background-color:#414141;}
.loading-animation div:nth-child(12) {transform:rotate(330deg);animation-delay:0s;background-color:#212121;}
@keyframes loading {
  0% {opacity:1}
  100% {opacity:0}
}


/* Edit
----------------------------------------------- */
.edit dl {display:flex;justify-content:space-between;position:relative;}
.edit dl + dl {margin-top:10px;}
.edit dl > * {vertical-align:top;}
.edit dl dt {height:50px;line-height:50px;padding-right:24px;text-align:right;font-size:16px;font-weight:500;color:#000001;box-sizing:border-box;}
.edit dl dt label sup {color:#ff0000;vertical-align:top;}
.edit dl dd {display:flex;flex-wrap:wrap;align-items:center;}
.edit dl dd textarea,
.edit dl dd select,
.edit dl dd input[type="text"],
.edit dl dd input[type="password"],
.edit dl dd input[type="file"],
.edit dl dd input.upload {flex:1;width:100%;text-align:left;font-size:16px;font-weight:300;color:#000001;border:1px solid #b5b5b5;border-radius:6px;background-color:#f4f4f4;box-shadow:inset 0 2px 8px rgba(0,0,0,0.2);}
.edit dl dd select,
.edit dl dd input[type="text"],
.edit dl dd input[type="password"],
.edit dl dd input[type="file"],
.edit dl dd input.upload {height:50px;line-height:50px;padding:0 15px;}
.edit dl dd textarea {height:243px;padding:15px;}
.edit dl dd select {-webkit-appearance:none;-moz-appearance:none;appearance:none;background:#f4f4f4 url(../img/icon-arrow-sort.png) no-repeat right 15px center;}
.edit dl dd select::-ms-expand {display:none}
.edit dl dd .full {flex:none !important;width:100% !important;margin-top:10px;}
.edit dl dd .half {flex:none;width:50%;}
.edit dl dd.radio {justify-content:flex-start;}
.edit dl dd.radio * {vertical-align:middle;}
.edit dl dd.radio span + span {margin-left:30px;}
.edit dl dd .txt {width:100%;margin-top:8px;font-size:14px;font-weight:300;color:#7d7d7d;}
.edit dl dd .txt i {margin-right:2px}
.edit dl dd.error select,
.edit dl dd.error input[type="text"],
.edit dl dd.error input[type="password"] {border-color:#ff0000;background-color:#fff4a9;}
.edit dl dd.error .txt {color:#ff0000;}
.edit dl dd.possibility .txt {color:#05c301;}
.edit .buttons > button + button {margin-left:6px;}
.edit .buttons > button.full + button {margin-left:0;}

.edit .tit {margin:0 auto 20px;}

.filebox {display:flex;justify-content:space-between;width:100%;}
.filebox input.upload {flex:1;margin-right:6px;}
.filebox input[type="file"] {position:absolute;top:auto;left:auto;overflow:hidden;width:1px;height:1px;margin:-1px;border:0;clip:rect(1px,1px,1px,1px);clip-path:inset(50%);}


/* Popup
----------------------------------------------- */
.popup-layer {display:none;position:fixed;top:0;right:0;bottom:0;left:0;background-color:rgba(0,0,0,0.6);z-index:999;}
.popup-layer.on {display:block;}
.popup-layer-container {position:absolute;top:50%;left:50%;overflow:hidden;width:860px;border-radius:10px;transform:translate(-50%,-50%);box-shadow:0 2px 16px rgba(0,0,0,0.35);}
.popup-layer-header {position:relative;height:48px;padding:0 20px;background-color:#ffbb19;}
.popup-layer-header .tit {line-height:48px;font-size:18px;font-weight:700;}
.popup-layer-header .btn-close-popup {position:absolute;top:50%;right:20px;font-size:19px;transform:translateY(-50%);}
.popup-layer-contents {position:relative;min-height:250px;line-height:1.375;padding:24px 30px;font-size:16px;box-sizing:border-box;background-color:#fff;}
.popup-layer-contents .buttons {margin-top:20px;text-align:center;}
.popup-layer-contents .buttons > button {min-width:172px;}
.popup-layer-contents .edit {padding:6px 0 20px;}
.popup-layer-contents .edit dl dt {width:110px;}
.popup-layer-contents .edit dl dd {width:calc(100% - 110px);}
.popup-layer-contents .edit.type2 dl dt {width:80px;}
.popup-layer-contents .edit.type2 dl dd {width:calc(100% - 80px);}

body.on {overflow:hidden;}/* 레이어 팝업 출력시, 팝업 아래 내용이 스크롤되지 않도록 */

/* 챗봇 스와이퍼 */

.swiper {
  margin-top:7px;
  overflow: hidden;
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}
.swiper-wrapper {
  width: 2000px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;}

.swiper-slide {
  max-width: 280px;
  width: 100%;
  padding: 10px;
  background-color: #efefef;
  border-radius: 5px;
}
.swp_wrap {max-width:280px;position:relative}
.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.swp_contents {margin:10px 0}
.swpBnt button {
  width:260px;
  height: 40px;
  margin-top: 4px;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  border: 1px solid #a5a5a5;
  background-color: #fff;
  transition-duration: .3s;
  padding: 5px;
}
.swp_wrap .swiper-button-next {right:-38px}
.swp_wrap .swiper-button-prev {left:-38px}

.one_Btn {width:250px !important}

.out_Btn  {max-width:280px; margin:10px 0 5px 0}
.out_Btn > button {display:inline-block;width:134px; background-color: #3380cd;font-size:17px; padding:7px; margin:2px;color:#fff; border-radius: 5px;}