@charset "UTF-8";

/* Main
----------------------------------------------- */
.container.main {padding:40px 0 18px;background-color:#dcdcdc;}
hr {margin:5px 0;border:none;border-bottom:1px solid #dcdcdc;}

/* layout */
.column-wrap{display:flex;flex-wrap:wrap;justify-content:space-between;}
.column-wrap [class*="column-"] {float:left;margin-bottom:22px;}
.column-s {width:265px;}
.column-m {width:420px;}
.column-l {width:486px;}
.column-l.clear-left {clear:left;margin-left:0 !important;}
.column-l-wrap {display:flex;justify-content:space-between;width:100%;margin-top:-197px;}
.column-l-wrap::after {content:"";width:265px;height:175px;}
.column-l-wrap [class*="column-"] {margin-bottom:0;}
@media (max-width:1280px) {
    .column-l {width:481px;}
}
.high {height:700px;}
.low {height:175px;}
.box {position:relative;overflow:hidden;padding:17px 20px;border-radius:13px;background-color:#fff;box-sizing:border-box;}
.box + .box {margin-top:16px;}
.box.completion::before {content:"";position:absolute;top:10px;right:9px;overflow:hidden;width:10px;height:10px;border-radius:50%;background-color:#ff7e00;}
.box.completion::after {content:"챗봇 연동 컨텐츠 연동 완료";position:absolute;top:0;right:0;overflow:hidden;border:0;clip:rect(1px,1px,1px,1px);clip-path:inset(50%);}
.box.loading::before {content:"";position:absolute;top:0;right:0;bottom:0;left:0;background-color:rgba(0,0,0,0.7);z-index:1;}
.box.loading::after {content:"";position:absolute;top:0;right:0;bottom:0;left:0;z-index:2 ;}
.box .box-title {margin-bottom:12px;line-height:21px;font-size:18px;font-weight:700;color:#3380cd;}
.box .list-type-bar li {position:relative;}
.box .list-type-bar li + li {margin-top:9px;}
.box .list-type-bar li a {display:block;overflow:hidden;line-height:17px;padding-left:13px;white-space:nowrap;text-overflow:ellipsis;font-size:14px;font-weight:300;color:#000;}
.box .list-type-bar li a::before {content:"";position:absolute;top:7px;left:0;width:6px;height:3px;background-color:#ffbb19;}
.box .list-type-bar[class*="multiple-"] li a {display:-webkit-box;-webkit-box-orient:vertical;white-space:normal;text-overflow:ellipsis;overflow:hidden;}
.box .list-type-bar.multiple-two li a {-webkit-line-clamp:2;max-height:36px;}
.box .list-type-bar.multiple-four li a {-webkit-line-clamp:4;max-height:72px;}
.box .btn-more-txt {position:absolute;top:17px;right:20px;padding-left:8px;font-size:12px;font-weight:500;color:#86a9cc;}
.box .btn-more-txt::before,
.box .btn-more-txt::after {content:"";position:absolute;top:50%;left:0;width:7px;height:1px;background-color:#86a9cc;}
.box .btn-more-txt::after {transform:rotate(90deg);}
.box .btn-more {width:100%;height:37px;line-height:37px;margin-top:20px;font-size:13px;color:#aeaeae;border-radius:4px;letter-spacing:-0.5px;background-color:#ededed;opacity:1;transition-duration:.3s;}
.box .btn-more:focus,
.box .btn-more:hover {color:#fff;background-color:#9b9b9b;}

/* chatbot */
.chatbot {position:relative;overflow:hidden;height:100%;border-radius:13px;background-color:#fff;box-shadow:0 2px 16px rgba(0,0,0,0.2);}
.chatbot-header {display:flex;justify-content:space-between;overflow:hidden;height:50px;padding:0 14px;background-color:#3380cd;}
.chatbot-header button {display:inline-block;line-height:30px;margin:10px 0;padding:0 3px;}
.chatbot-header i {font-size:19px;color:#fff;}
.chatbot-contents {height:calc(100% - 110px);padding:20px 5px 20px 20px;box-sizing:border-box;}

.chatbot-contents > div {height:100%;overflow-x:hidden;overflow-y:auto;padding-right:10px;}
.chatbot-contents .btn-beginning {position:relative;width:300px;margin-top:10px;padding:16px;text-align:left;border-radius:8px;background-color:#efefef;}
.chatbot-contents .btn-beginning::after {content:"\f2ea";position:absolute;top:50%;right:10px;font-family:"Font Awesome 5 Free";font-size:15px;font-weight:900;transform:translateY(-50%);}
.chatbot-contents .accordion {margin-top:10px;border-radius:8px;background-color:#ffbb19;transition-duration:.3s;}
.chatbot-contents .accordion .accordion-header {position:relative;width:300px;height:50px;line-height:50px;padding:0 16px;text-align:left;font-size:15px;box-sizing:border-box;}
.chatbot-contents .accordion .accordion-header::after {content:"\f107";position:absolute;top:0;right:10px;font-family:"Font Awesome 5 Free";font-size:15px;font-weight:900;}
.chatbot-contents .accordion .accordion-contents {display:none;padding:4px 16px 29px;}
.chatbot-contents .accordion .accordion-contents li {position:relative;}
.chatbot-contents .accordion .accordion-contents li + li {margin-top:9px;}
.chatbot-contents .accordion .accordion-contents li::before {content:"";position:absolute;top:6px;left:0;width:5px;height:5px;border-radius:50%;background-color:#3380cd;}
.chatbot-contents .accordion .accordion-contents li a {display:block;line-height:1.25;padding-left:11px;font-size:13px;font-weight:300;color:#3380cd;transition-duration:.3s;}
.chatbot-contents .accordion .accordion-contents li a:focus,
.chatbot-contents .accordion .accordion-contents li a:hover {text-decoration:underline;text-underline-position:under;color:#ff3c00;}
.chatbot-contents .accordion.on {background-color:#efefef;}
.chatbot-contents .accordion.on .accordion-header::after {content:"\f106";}
.chatbot-contents .accordion.on .accordion-contents {display:block;}

.chatbot-contents .message {position:relative;line-height:1;}

.chatbot-contents .message + .message {margin-top:22px;}

.chatbot-contents .message .date {line-height:1.615;margin-top:1px;font-size:13px;color:#a9a9a9;max-width:280px;}
.chatbot-contents .message.left {margin-right:25px;padding-left:53px;float:left;}
.chatbot-contents .message.left .name {display:inline-block;margin-bottom:6px;padding-left:5px;letter-spacing:-0.5px;font-size:13px;font-weight:500;color:#3380cd;}
.chatbot-contents .message.left .name::before {content:"";position:absolute;top:0;left:0;overflow:hidden;width:42px;height:42px;border-radius:50%;background:url(../img/icon-nomu.png) no-repeat center center / auto auto;}
.chatbot-contents .message.left .bubble {position:relative;padding:13px 15px 21px;border-radius:8px;background-color:#efefef;max-width:280px;min-width:120px;}
.chatbot-contents .message.left .bubble::before {content:"";position:absolute;top:12px;left:-11px;border-right:11px solid #efefef;border-top:6px solid transparent;border-bottom:6px solid transparent;}
.chatbot-contents .message.left .bubble .txt {line-height:1.4;font-size:15px;font-weight:300;text-align:left; word-break: break-all;}
.chatbot-contents .message.left .bubble .buttons {overflow:hidden;padding-top:8px;}
.chatbot-contents .message.left .bubble .buttons button {display:inline-block;float:left;width:123px;height:40px;line-height:38px;margin-top:4px;text-align:center;font-size:16px;font-weight:500;border:1px solid #a5a5a5;background-color:#fff;transition-duration:.3s;}
.chatbot-contents .message.left .bubble .buttons button:nth-child(2n) {margin-left:4px;}
.chatbot-contents .message.left .bubble .buttons button:focus,
.chatbot-contents .message.left .bubble .buttons button:hover {color:#fff;border-color:#3380cd;background-color:#3380cd;}
.chatbot-contents .message.left .date {margin-right:4px;text-align:right;}
.chatbot-contents .message.right {margin-left:78px; float:right; margin-left: 120px}
.chatbot-contents .message.right .bubble {padding:15px;border-radius:8px;color:#fff;background-color:#3380cd;max-width:280px;}
.chatbot-contents .message.right .bubble::before {content:"";position:absolute;top:12px;right:-10px;border-left:11px solid #3380cd;border-top:6px solid transparent;border-bottom:6px solid transparent;}
.chatbot-contents .message.right .bubble .txt {line-height:1.4;font-size:15px;font-weight:300; text-align:left; word-break: break-all;}
.chatbot-contents .message.right .date {margin-left:4px;text-align:left;}
.chatbot-contents .message.left + .right{margin-top:34px;}

.chatbot-contents .prev-history {position:relative;clear:both;margin:24px 0 15px;}
.chatbot-contents .prev-history span {display:inline-block;position:relative;padding-right:7px;font-size:13px;color:#727272;background-color:#fff;z-index:1;}
.chatbot-contents .prev-history span::before {content:"\f062";display:inline-block;margin-right:6px;font-family:"Font Awesome 5 Free";font-size:13px;font-weight:900;}
.chatbot-contents .prev-history::after {content:"";position:absolute;top:50%;right:-15px;width:100%;height:2px;background-color:#727272;}

.chatbot-footer {position:absolute;bottom:0;left:0;width:100%;height:60px;padding:8px 61px 10px 11px;box-sizing:border-box;background-color:#3380cd;}
.chatbot-footer input[type=text] {display:block;width:100%;height:42px;line-height:44px;padding-left:17px;font-size:16px;color:#000;border-radius:21px;box-shadow:inset 0 4px 8px rgba(0,0,0,0.3);background-color:#fff;}
.chatbot-footer input[type=text]:focus {outline:none;}
.chatbot-footer .btn-send {position:absolute;top:11px;right:20px;width:25px;height:30px;font-size:19px;color:#fff;}

/* scroll bar custom (mCustomScrollbar) */
.mCSB_container {overflow:visible;}
.mCSB_inside > .mCSB_container {margin-right:37px;}
.mCS-dark-3.mCSB_scrollTools .mCSB_draggerRail {background-color:#fff;}
.mCS-dark-3.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar,
.mCS-dark-3.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar,
.mCS-dark-3.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar,
.mCS-dark-3.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar{background-color:#cacaca;}

/* wordcloud */
.wordcloud {display:flex;justify-content:center;align-items:center;height:100%;}

/* keyword */
.keyword-buttons button {height:38px;line-height:38px;padding:0 10px;font-size:17px;}
.keyword hr {margin:20px 0 17px;}

/* careerist */
.careerist {display:flex;flex-wrap:wrap;align-items:top;}
.careerist .thumb {overflow:hidden;width:65px;height:65px;border:1px solid #88a1b9;border-radius:50%;box-sizing:border-box;}
.careerist .info {flex:1;margin-left:10px;}
.careerist .info .name {flex:1;font-size:17px;font-weight:500;}
.careerist .info .txt {margin:9px 0 10px;font-size:14px;}
.careerist .info .costs {font-size:14px;color:#a9a9a9;}

/* stats */
.stats dl {display:flex;justify-content:space-between;align-items:flex-end;padding:4px 0 12px;font-size:16px;color:#838383;}
.stats dl dd {font-weight:500;}
.stats hr {margin:5px 0 13px;}
 

