<!--Footer-->

{% load static %}

   <!-- footer -->
<!--
    <div class="footer">
      <div class="inner">
        <a href="" class="logo">
          <span class="hide">NOMU</span>
          <em>언택트 대화형 <br>스마트 노무상담 서비스</em>
        </a>
        <address>
          <span>Address : 서울특별시 구로구 디지털로31길 53 (이앤씨벤쳐드림타워5차) 410호</span>
          <span>E-mail : bct@bctone.kr</span>
          <span>Copyright 2020 NOMU All rights reserved.</span>
          <span>본 페이지는 구글 크롬 브라우저에 최적화 되었습니다.</span>
        </address>
        <div>
          <a href="" class="btn-square-small gray-re">이용약관</a>
          <a href="" class="btn-square-small gray-re">개인정보처리방침</a>
        </div>
      </div>
    </div>
-->
    <!-- //footer -->