{% load static %}

  <!-- header -->
    <div class="header">
      <div class="inner">
        <a href="/" class="logo">
          <span class="hide">NOMU</span>
          <em>언택트 대화형 <br>스마트 노무상담 서비스 </em>
        </a>
        <div class="gnb">
            <!--
              <ul class="depth1">
                <li><a href='/products' class="btn-depth1">Products</a>
                </li>
                <li><a href='/blog/articles' class="btn-depth1">BLOG</a>
                </li>
                <li><a href="#" class="btn-depth1">Contact</a></li>
              </ul>
              -->
          <div class="user">
              {% if user.is_authenticated %}
                <a class="btn-logout" href="/logout">Logout</a>
                <a class="btn-my" href="/user">{{user.username|title}}</a>
              {% else %}
                <a class="btn-login" href="/login">Login</a>
                <a class="btn-login" href="/register">Register</a>
              {% endif %}
          </div>
        </div>
      </div>
    </div>
    <!-- //header -->